html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body #effects {
  z-index: 901;
  position: absolute;
  left: 0;
  bottom: 0;
}

body #canvas {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
  overflow: hidden;
  z-index: 0;
}

body #canvas .controller {
  position: absolute;
  height: 169px;
  width: 256px;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  bottom: 40px;
  right: 40px;
}

body #canvas .controller div {
  height: calc(50% - 3px);
  -ms-flex-preferred-size: calc(33.33% - 3px);
      flex-basis: calc(33.33% - 3px);
  border-radius: 8px;
}

body #canvas .controller .button {
  outline: 6px solid #d1d1d1;
  outline-offset: -6px;
  opacity: 0.8;
}

body #canvas .controller .button::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body #canvas .controller .active {
  outline: 6px solid white;
}

body #canvas .controller .up::after {
  background-image: url("../img/arrow.svg");
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

body #canvas .controller .left::after {
  background-image: url("../img/arrow.svg");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body #canvas .controller .right::after {
  background-image: url("../img/arrow.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body #canvas .space {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1000%;
  width: 100%;
  opacity: 0;
  background: url("../img/seamless_space.png");
  mix-blend-mode: screen;
}

body #canvas .smoke {
  border-radius: 50%;
  background-color: rgba(255, 244, 88, 0.7);
  position: absolute;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 1s ease-out, background-color 0.1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, background-color 0.1s ease-out, -webkit-transform 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out, background-color 0.1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out, background-color 0.1s ease-out, -webkit-transform 1s ease-out;
  height: 5px;
  width: 5px;
  z-index: 1;
}

body #canvas .building {
  position: absolute;
  height: 256px;
  width: 256px;
  background: url("../img/building.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 400px;
  z-index: 1;
}

body #canvas .cloud {
  position: absolute;
  height: 256px;
  width: 256px;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

body #canvas .cloud1 {
  background-image: url("../img/cloud1.png");
}

body #canvas .cloud2 {
  background-image: url("../img/cloud2.png");
}

body #canvas .cloud3 {
  background-image: url("../img/cloud3.png");
}

body #canvas .altitude, body #canvas .vertical, body #canvas .framerate {
  position: absolute;
  color: #00ff40;
  font-size: 28px;
  width: 220px;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 2000;
}

body #canvas .altitude::after, body #canvas .vertical::after, body #canvas .framerate::after {
  color: #00ff40;
  display: inline-block;
  font-size: 28px;
  width: 54px;
  text-align: left;
  padding-left: 4px;
}

body #canvas .framerate {
  bottom: 0;
  right: 0;
}

body #canvas .altitude::after {
  content: "h";
}

body #canvas .vertical::after {
  content: "h/s";
}

body #canvas .mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/mountains.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
}

body #canvas .blimp {
  position: absolute;
  width: 512px;
  height: 256px;
  right: -512px;
  background: url("../img/blimbp.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 901;
  -webkit-animation: floating 40s linear infinite;
          animation: floating 40s linear infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(25px) translateX(calc(-25vw - 128px));
            transform: translateY(25px) translateX(calc(-25vw - 128px));
  }
  50% {
    -webkit-transform: translateY(0) translateX(calc(-50vw - 256px));
            transform: translateY(0) translateX(calc(-50vw - 256px));
  }
  75% {
    -webkit-transform: translateY(-25px) translateX(calc(-75vw - 384px));
            transform: translateY(-25px) translateX(calc(-75vw - 384px));
  }
  100% {
    -webkit-transform: translateY(0) translateX(calc(-100vw - 512px));
            transform: translateY(0) translateX(calc(-100vw - 512px));
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(25px) translateX(calc(-25vw - 128px));
            transform: translateY(25px) translateX(calc(-25vw - 128px));
  }
  50% {
    -webkit-transform: translateY(0) translateX(calc(-50vw - 256px));
            transform: translateY(0) translateX(calc(-50vw - 256px));
  }
  75% {
    -webkit-transform: translateY(-25px) translateX(calc(-75vw - 384px));
            transform: translateY(-25px) translateX(calc(-75vw - 384px));
  }
  100% {
    -webkit-transform: translateY(0) translateX(calc(-100vw - 512px));
            transform: translateY(0) translateX(calc(-100vw - 512px));
  }
}

body #canvas .blimp .text-scroll {
  position: absolute;
  top: 98px;
  left: 110px;
  height: 60px;
  width: 246px;
  font-size: 47px;
  color: #ff9900;
  opacity: 0.9;
  font-family: monospace;
}

body #templates {
  display: none;
}

body .player {
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 1000;
}

body .player .body {
  background: 100%;
  width: 52px;
  height: 100px;
  background: url("../img/rocket2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/*# sourceMappingURL=home.css.map */